<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover">
    <title>福利GO</title>
    <meta name="keywords" content="福利GO,福利,线报,福利姬"/>
    <meta name="description" content=""/>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <!-- 引入样式文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@next/lib/index.css" />
    <style>
        [v-cloak]{
            display: none;
        }
        body {
            background: #f7f8fa;
        }
        .mt-20 {
            margin-top: 20px;
            margin-bottom: 40px;
        }
        .van-overlay {
            z-index: 9;
        }
        #right {
            position: fixed;
            right: 10px;
            top: 30%;
        }
        .qrcode {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }
		.unread .van-cell__title {
			color: red;
		}
        img {
            width: 100%;
            height: auto;
        }
    </style>
    <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?5e83fbdf9f5f2de6447d71bc642d5653";
          var s = document.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <script src="https://unpkg.com/vconsole/dist/vconsole.min.js"></script>
    <script>
      // VConsole will be exported to `window.VConsole` by default.
      // var vConsole = new window.VConsole();
    </script>
</head>
<body>
    <div id="app" v-cloak>
        <van-nav-bar title="福利GO"></van-nav-bar>
        <template v-if="id == null">
            <van-row justify="center" class="mt-20">
                <van-col span="24">
                    <van-collapse v-model="activeNames">
                        <template v-for="(welfare, idx) in welfares" :key="idx">
                            <van-collapse-item :title="welfare.title" :name="idx" :class="welfare.is_read ? 'read' : 'unread'">
                                <span v-html="welfare.content" class="content"></span>
                            </van-collapse-item>
                        </template>
                    </van-collapse>
                </van-col>
            </van-row>
        </template>
        <template v-else>
            <van-row justify="center">
                <van-col span="22">
                    <h5 v-html="welfare.title"></h5>
                </van-col>
            </van-row>
            <van-row justify="center">
                <van-col span="22">
                    <div v-html="welfare.content"></div>
                </van-col>
            </van-row>
            <van-row justify="center">
                <van-col span="24">
                    <van-divider :style="{ color: '#1989fa', borderColor: '#1989fa', padding: '0 16px' }">
                        微博 @程抱猫
                    </van-divider>
                </van-col>
            </van-row>
            <van-row justify="center">
                <van-col span="6" v-if="show_qrcode">
                    <div id="qrcode"></div>
                </van-col>
            </van-row>
            <van-row justify="center">
                <van-col span="24">
                    <van-divider :style="{ color: '#000', borderColor: '#000', padding: '0 16px' }">
                        手机扫一扫
                    </van-divider>
                </van-col>
            </van-row>
<!--            <van-row justify="center">-->
<!--                <van-col span="22">-->
<!--                    <div v-text="qrcode_url"></div>-->
<!--                </van-col>-->
<!--            </van-row>-->
        </template>

        <!--<van-overlay :show="show" @click="show = false">
            <div class="qrcode">
                <van-image width="200" height="200" src="https://img.yzcdn.cn/vant/cat.jpeg" />
            </div>
        </van-overlay>-->

        <div id="right">
            <!-- <van-image width="50" height="50" src="https://img.yzcdn.cn/vant/cat.jpeg" /> -->
            <!-- <van-icon name="chat-o" size="3rem" /> -->
            <!--<van-icon name="wechat" size="3rem" badge="1" color="#ee0a24" @click="show = true" />-->
        </div>
    </div>

<!--     <script src="https://cdn.jsdelivr.net/npm/@babel/polyfill@7.12.1/lib/index.min.js"></script> -->
    <!-- 引入 Vue 和 Vant 的 JS 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@next"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-router@4.0.11/dist/vue-router.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vant@next/lib/vant.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mobile-detect@1.4.5/mobile-detect.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/qrcodejs2@0.0.2/qrcode.min.js"></script>

    <script type="module">
        var md = new MobileDetect(window.navigator.userAgent);
        if(md.mobile() == null) {
            location.href = './index.html';
        }

        var searchParams = new URLSearchParams(location.search);

        // 在 #app 标签下渲染一个按钮组件
        const app = Vue.createApp({
            // template: `<van-button>按钮</van-button>`,
            data() {
                return {
                    id: searchParams.get('id'),
                    show_qrcode: !!searchParams.get('show'),
                    qrcode_url: '',
                    welfares: [],
                    welfare: {},
					cache_key: 'storage_titles',
					storage_titles: []
                }
            },
            setup(props) {
                console.log('props', props.time);

                // const awards = [
                //     // 'https://cbu01.alicdn.com/img/ibank/2020/567/572/22525275765_1733232050.240x240.jpg_.webp',
                //     // 'https://cbu01.alicdn.com/img/ibank/2018/926/151/7151629_983218335.jpg_.webp',
                //     // 'https://cbu01.alicdn.com/img/ibank/2018/619/634/9440436916_1140967343.jpg_.webp',
                //     // 'https://cbu01.alicdn.com/img/ibank/2016/336/344/3620443633_646400951.240x240.jpg_.webp',
                // ];
                const show = Vue.ref(false);

                const activeNames = Vue.ref(['1']);

                return { show, activeNames };
            },
            beforeCreate() {
                console.log('beforeCreate');
            },
            created() {
                console.log('created');

                this.updateTime();
                // setInterval(() => {
                //     this.time = new Date().toLocaleString();
                // }, 1000);
            },
            beforeMount() {
                console.log('beforeMount');
            },
            mounted() {
                console.log('mounted', this.id, this.show_qrcode);

		        this.initStorageTitle();
                this.getData();
                this.generateQrcode();
            },
            beforeUpdate() {
                console.log('beforeUpdate');
            },
            updated() {
                console.log('updated');
            },
            beforeUnmount() {
                console.log('beforeUnmount');
            },
            unmounted() {
                console.log('unmounted');
            },

            watch: {
                time(newTime, oldTime) {
                    // console.log(newTime);
                    // console.log(oldTime);
                }
            },
            methods: {
                updateTime() {
                    setInterval(() => {
                        this.time = new Date().toLocaleString();
                    }, 1000);
                },
                now() {
                    console.log('now');
                    return new Date().toLocaleString();
                },
                formatTime(timestamp) {
                    // console.log(timestamp, typeof(timestamp));
                    return moment(timestamp * 1e3).format('YYYY-MM-DD HH:mm:ss');
                },
                getData() {
                    var _this = this
                    // 为给定 ID 的 user 创建请求
                    axios.get('./mocks/welfares.json?_=' + moment().format('YYYYMMDDHHmm'))
                        .then(function (resp) {
                            // console.log(resp);
                            if(resp.status == 200) {
                                _this.welfares = resp.data;
                                // console.log(_this.welfares);
								for(var i in _this.welfares) {
									_this.welfares[i]['is_read'] = _this.checkRead(_this.welfares[i]['title']);
								}
								_this.getWelfare();
                            } else {
                                vant.Toast(resp.statusText);
                            }
                        })
                        .catch(function (err) {
                            console.log(err);
                        });
                },
				initStorageTitle() {
					var cache_titles = localStorage.getItem(this.cache_key)
					this.storage_titles = cache_titles == null ? [] : JSON.parse(cache_titles);
					// console.log(this.storage_titles);
				},
				checkRead(title) {
					// console.log(title, this.storage_titles.includes(title));
					if(this.storage_titles.includes(title)) {
						return true;
					} else {
						this.storage_titles.push(title);
						localStorage.setItem(this.cache_key, JSON.stringify(this.storage_titles));
						return false;
					}
				},
                getWelfare() {
                    console.log('getWelfare', this.id);
                    if(this.id) {
                        // console.log('getWelfare1', this.welfares);
                        for(var i in this.welfares) {
                            // console.log(this.welfares[i]);
                            // console.log(this.id, this.welfares[i].time);
                            if(this.id == this.welfares[i].ctime) {
                                this.welfare = this.welfares[i];
                                break;
                            }
                        }
                        if(Object.keys(this.welfare) == 0) {
                            vant.Toast('活动已失效');
                            setTimeout(() => {
                                location.href = '/wap.html';
                            }, 1500);
                        }
                        console.log(this.welfare);
                    }
                },
                generateQrcode() {
                    if(this.show_qrcode) {
                        this.qrcode_url = "https://www.jijiwuming.com?id=" + this.id;
                        new QRCode(document.getElementById("qrcode"), this.qrcode_url);
                        // var qrcode = new QRCode(document.getElementById("qrcode"), {
                        //     text: "http://jindo.dev.naver.com/collie",
                        //     width: 128,
                        //     height: 128,
                        //     colorDark : "#000000",
                        //     colorLight : "#ffffff",
                        //     correctLevel : QRCode.CorrectLevel.H
                        // });
                        // qrcode.clear();
                        // this.qrcode = qrcode.makeCode("https://www.jijiwuming.com?id=" + this.id);
                        // console.log(this.qrcode);
                    }
                }
            },
            computed: {
                now2() {
                    // console.log('now2');
                    // return new Date().toLocaleString();
                    return this.time;
                }
            },
        });
        app.use(vant);

        // 通过 CDN 引入时不会自动注册 Lazyload 组件
        // 可以通过下面的方式手动注册
        // app.use(vant.Lazyload);

        // 调用函数组件，弹出一个 Toast
        // vant.Toast('提示');

        // app.use(vant.NavBar);

        // app.use(vant.Step);
        // app.use(vant.Steps);

        // export default {
        //     steup() {
        //         const active = ref(1);
        //         const activeNames = ref(['1']);
        //         return { active, activeNames };
        //     },
        // };

        // app.use(vant.Swipe);
        // app.use(vant.SwipeItem);
        // app.use(vant.Card);
        // app.use(vant.Collapse);
        // app.use(vant.CollapseItem);
        // app.use(vant.Divider);
        // app.use(vant.Icon);
        // app.use(vant.Overlay);
        // app.use(vant.Image);
        // app.use(vant.Lazyload);

        const vm = app.mount('#app');
        // vm.$refs.swipe.resize();
        // console.log(app.activeNames);
        // console.log(vm.activeNames);

        // setInterval(() => {
        //     vm.$data.time = new Date().toLocaleString();
        // }, 1000);
    </script>
</body>
</html>
